<form id="new_item_form" ng-submit="add_item({% if form.instance.pk %}{{form.instance.pk}}{% endif %})" method="post">
	
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">{% if form.instance.pk %}Edit{% else %}Add New{% endif %} Service</h4>
	</div>

	<div class="modal-body">

		{% csrf_token %}

		<div class="form-group">
			{{ form.name.errors }}
			<label for="{{ form.name.id_for_label }}">Service Name:</label>
			{{ form.name }}
		</div>

		<div class="form-group recurrence">
			{{ form.recurrence.errors }}
			<label for="{{ form.name.id_for_label }}">Recurrence:</label>
			{{ form.recurrence }}
		</div>

		<div class="form-group">
			{{ form.date.errors }}
			<label for="{{ form.date.id_for_label }}">Due Date:</label>
			<div class="input-group date">
				{{ form.date }}<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
			</div>
		</div>

		<div class="form-group">
			{{ form.amount.errors }}
			<label for="{{ form.amount.id_for_label }}">Bill Amount:</label>
			<div class="input-group">
				<span class="input-group-addon">$</span>
				{{ form.amount }}
			</div>
		</div>
		
	</div>

	<div class="modal-footer">
		{% if form.instance.pk %}<span class="delete-link" ng-click="delete({{form.instance.pk}})">Delete</span>{% endif %}
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</form>