{% extends 'base.html' %}

{% block content %}
<div class="container first">
	<div class="row">
    	<div class="col-md-12">
			<form method="POST">
				{% csrf_token %}
				
				{{register_form.non_field_errors }}

				<div class="form-group">
					{{register_form.username.label}}
					{{register_form.username}}
					{{register_form.username.errors}}
				</div>
				<div class="form-group">
					{{register_form.email.label}}
					{{register_form.email}}
					{{register_form.email.errors}}
				</div>
				<div class="form-group">
					{{register_form.password1.label}}
					{{register_form.password1}}
					{{register_form.password1.errors}}
				</div>
				<div class="form-group">
					{{register_form.password2.label}}
					{{register_form.password2}}
					{{register_form.password2.errors}}
				</div>

				<input class="btn btn-success" type="submit">
			</form>
			<!-- <ul>
				<li><a href="{% url 'social:begin' backend='facebook' %}">Facebook</a></li>
				<li><a href="{% url 'social:begin' backend='google-oauth2' %}">Google</a></li>
				<li><a href="{% url 'social:begin' backend='twitter' %}">Twitter</a></li>
			</ul> -->
		</div>
	</div>
</div>
{% endblock content %}