body {
  font-family: 'Quicksand', sans-serif;
  background-color: #efefef;
  padding-top: 50px;
}
body h1 {
  font-size: 68px;
}
body .errorlist {
  padding-left: 0;
}
body .errorlist li {
  list-style-position: inside;
  list-style: none;
  color: #ff5656;
}
body .navbar-default {
  border-width: 0px;
}
body .navbar-default .navbar-nav > .active > a {
  background-color: #efefef;
  border-bottom: #efefef;
}
body .navbar-default .navbar-form {
  margin-top: 8px;
}
body .navbar-form {
  border-bottom: 0;
}
body .picker {
  cursor: pointer;
}
body .user-welcome {
  margin-right: 10px;
}
body .message {
  background-color: #efefef;
  padding: 20px;
}
body .message.success {
  background-color: #5cb85c;
}
body .message.info {
  background-color: #78a6ce;
}
body .message.error {
  background-color: #ff5656;
}
body .background {
  background-image: url('/static/img/skyline.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  width: 100%;
  height: 500px;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 0px;
}
body .alert-dismissable .close {
  right: 0;
}
body .content .container:first-child {
  padding-top: 30px !important;
}
body .content .container form {
  margin: 0;
}
body .content .container .delete-link {
  color: #A00000;
  float: left;
  cursor: pointer;
  text-decoration: underline;
  padding: 6px 3px;
}
body .content .container .loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
body .content .container .loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
body .content .container .loader:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body .content .container .init-loader {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
body .content .container .init-loader.ready {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
body .content .container .loader_container {
  position: absolute;
}
body .content .container .loader_container.ready {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
body .content .container .dashboard .table {
  margin-top: 30px;
}
body .content .container .dashboard .table tr th.amount,
body .content .container .dashboard .table tr td.amount {
  text-align: right;
}
body .content .container .dashboard .table tr td {
  cursor: pointer;
}
body .content .container .dashboard .table tr.YE {
  background-color: #FFFFC7   ;
}
body .content .container .dashboard .table tr.CU {
  background-color: #BABFFF;
}
body .content .container .dashboard .table tr.DA {
  background-color: #8FEC8F;
}
body .content .container .dashboard .summary label {
  font-weight: lighter;
  display: inline-block;
  width: 100px;
  text-align: right;
  font-size: 2em;
  line-height: 1em;
}
body .content .container .dashboard .summary label:first-child {
  font-size: 2em;
  line-height: 1em;
}
body .content .container .dashboard .summary span {
  font-size: 2em;
  line-height: 1em;
  display: inline-block;
  margin-left: 10px;
  width: 100px;
  text-align: left;
  font-weight: bolder;
}
body .content .container .dashboard .summary span.total {
  font-size: 3em;
  line-height: 1em;
}
body .calendar-table th.prev i,
body .calendar-table th.next i {
  line-height: 0;
}
body .calendar-table th.prev i:before,
body .calendar-table th.next i:before {
  font-size: 18px;
  font-weight: bold;
}
body .calendar-table th.prev i:before {
  content: "«";
}
body .calendar-table th.next i:before {
  content: "»";
}
body .flat-icon {
  background-image: url("/static/img/flat_icons.png");
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
}
body .flat-icon.lock {
  background-position: -1px -1px;
}
body .flat-icon.chess {
  background-position: -113px -1px;
}
body .flat-icon.pie {
  background-position: -225px -1px;
}
body .flat-icon.camera {
  background-position: -337px -1px;
}
body .flat-icon.pin {
  background-position: -1px -113px;
}
body .flat-icon.mail {
  background-position: -113px -113px;
}
body .flat-icon.calendar {
  background-position: -225px -113px;
}
body .flat-icon.monitor {
  background-position: -337px -113px;
}
body .flat-icon.device {
  background-position: -1px -224px;
}
body .flat-icon.gear {
  background-position: -113px -224px;
}
body .flat-icon.clock {
  background-position: -225px -224px;
}
body .flat-icon.house {
  background-position: -337px -224px;
}
@media (min-width: 768px) {
  .navbar-form {
    padding: 0;
  }
  .navbar-form .form-control {
    max-width: 184px;
  }
}
