<html>
	<head>
		<style>
			body{
				background-color:#aaa;
			}
		</style>
	</head>
	<body>
		<p>{{user.username}},</p>
		<br>
		<p>Thank you for signing up for DueTracker. Please complete your registration by clicking or copy-pasting the following link into your url address bar.</p>
		<br>
		<a href="{{confirmation_url}}">{{confirmation_url}}</a>
	</body>
</html>