@dark-grey: #EFEFEF;
@light-grey: #e7e7e7;
@red: #FF5656;
@green: #5CB85C;
@blue: #78A6CE;
@yellow: #FBFB5C;

body{

    h1{
        font-size: 68px;
    }       

    .errorlist{
        padding-left: 0;

        li{ 
            list-style-position: inside;
            list-style: none;
            color:@red;
        }
    }

    font-family: 'Quicksand', sans-serif;
    background-color: @dark-grey;
    padding-top:50px;

    .navbar-default {
        border-width: 0px;

        .navbar-nav>.active>a{
            background-color: @dark-grey;
            border-bottom: @dark-grey;
        }

        .navbar-form{
            margin-top:8px;
        }
    }

    .navbar-form{
        border-bottom: 0;
    }

    .picker{
        cursor:pointer;
    }

    .user-welcome{
        margin-right:10px;
    }

    .message{
        background-color:@dark-grey;
        padding:20px;

        &.success{
            background-color: @green;
        }
        &.info{
            background-color: @blue;
        }
        &.error{
            background-color: @red;
        }
    }

    .background{
        background-image: url('/static/img/skyline.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top center;
        width: 100%;
        height: 500px;
        overflow-x: hidden;
        overflow-y: hidden;
        top: 0px;
    }

    .alert-dismissable{
        
        .close{
            right:0;
        }
    } 
    .content{

        .container{

            &:first-child{
                padding-top: 30px !important; 
            }

            form{
                margin:0;
            }
            .delete-link{
                color:#A00000;
                float:left;
                cursor: pointer;
                text-decoration: underline;
                padding: 6px 3px;
            }

            .loader {
                font-size: 10px;
                margin: 50px auto;
                text-indent: -9999em;
                width: 11em;
                height: 11em;
                border-radius: 50%;
                background: #ffffff;
                background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
                background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
                background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
                background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
                background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
                position: relative;
                -webkit-animation: load3 1.4s infinite linear;
                animation: load3 1.4s infinite linear;
                -webkit-transform: translateZ(0);
                -ms-transform: translateZ(0);
                transform: translateZ(0);
            }
            .loader:before {
                width: 50%;
                height: 50%;
                background: #ffffff;
                border-radius: 100% 0 0 0;
                position: absolute;
                top: 0;
                left: 0;
                content: '';
            }
            .loader:after {
                background: #0dc5c1;
                width: 75%;
                height: 75%;
                border-radius: 50%;
                content: '';
                margin: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
            @-webkit-keyframes load3 {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
            @keyframes load3 {
                0% {
                -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }

            .init-loader{
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // IE8
                filter: alpha(opacity=0); // IE 5-7
                opacity: 0;
            }

            .init-loader.ready{
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; // IE8
                filter: alpha(opacity=100); // IE 5-7
                opacity: 1;
            }
            .loader_container{
                position:absolute;
            }
            .loader_container.ready{
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // IE8
                filter: alpha(opacity=0); // IE 5-7
                opacity: 0;
            }
            .dashboard{

                .table{
                    
                    margin-top:30px;
                    tr{
                        th,td{
                            &.amount{
                                text-align: right;
                            }
                        }
                        td{
                            cursor:pointer;
                        }
                        &.YE{
                            background-color: #FFFFC7   ;
                        }
                        &.CU{
                            background-color: #BABFFF;
                        }
                        &.MO{
                            // background-color:green;
                        }
                        &.DA{
                            background-color:#8FEC8F;
                        }
                    }
                }

                .summary{

                    label{
                        font-weight: lighter;
                        display:inline-block;
                        width: 100px;
                        text-align: right;
                        font-size: 2em;
                        line-height: 1em;
                        &:first-child{
                            font-size: 2em;
                            line-height: 1em;
                        }
                    }
                    span{
                        font-size: 2em;
                        line-height: 1em;
                        display:inline-block;
                        margin-left:10px;
                        width: 100px;
                        text-align: left;
                        font-weight: bolder;
                        &.total{
                            font-size: 3em;
                            line-height: 1em;
                        }
                    }
                }
            }
        }
    }

    .calendar-table{
        th.prev, th.next{
            i{
                line-height: 0;
                &:before{
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
        th.prev i:before{
            content: "«";
        }
        th.next i:before{
            content: "»";
        }
    }

    .flat-icon{

        background-image: url("/static/img/flat_icons.png");
        background-repeat: no-repeat;  
        height: 110px;
        width: 110px;
        display: inline-block;
        overflow-x: hidden;
        overflow-y: hidden;

        &.lock{ background-position: -1px -1px;}
        &.chess{ background-position: -113px -1px;}
        &.pie{ background-position: -225px -1px;}
        &.camera{ background-position: -337px -1px;}
        &.pin{ background-position: -1px -113px;}
        &.mail{ background-position: -113px -113px;}
        &.calendar{ background-position: -225px -113px;}
        &.monitor{ background-position: -337px -113px;}
        &.device{ background-position: -1px -224px;}
        &.gear{ background-position: -113px -224px;}
        &.clock{ background-position: -225px -224px;}
        &.house{ background-position: -337px -224px;}
    }
}

@media (min-width: 768px){
    .navbar-form{
        padding:0;

        .form-control{
            max-width: 184px;
        }
    }
}