<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% if title %}{{title}}{% else %}DueTracker{% endif %}</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/styles.css">
		<link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300' rel='stylesheet' type='text/css'>
		{% block styles %}{% endblock %}
	</head>
	<body >
	    <nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="{% url 'landing' %}">DueTracker</a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          	<ul class="nav navbar-nav">
					<li {% if active_page == "landing" %}class="active"{% endif %}><a href="{% url 'landing' %}">About</a></li>
					{% if user.is_authenticated %}
						<li {% if active_page == "dashboard" %}class="active"{% endif %}><a href="{% url 'dashboard' %}">Dashboard</a></li>
					{% endif %}
				</ul>
				{% if user.is_authenticated %}
		          	<form class="navbar-form navbar-right">
		          		<div class="form-group user-welcome">Welcome, {{user.username}}</div>
						<div class="form-group">
            				<a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        				</div>
          			</form>
					</ul>
				{% else %}
					<form action="{% url "login" %}?active_page={{active_page}}" method="POST" class="navbar-form navbar-right">
						{% csrf_token %}
						<div class="form-group">
							{{ login_form.username }}
						</div>
						<div class="form-group">
							{{ login_form.password }}
						</div>
						<button type="submit" class="btn btn-success">Login</button>
						<a class="btn btn-primary" href="{% url 'register' %}">Sign Up</a>
					</form>
        		{% endif %}
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>

	    <!-- block content -->
	    <div class="content">
			{% block content %}{% endblock content %}
		</div>
		<!-- endblock content -->
      	<script>
      		var csrf_token = "{{ csrf_token|safe }}";
    		var url_home = "{% url 'landing' %}";
    		var url_dashboard = "{% url 'dashboard' %}";
    		var url_login = "{% url 'login' %}";
    		var url_logout = "{% url 'logout' %}";
    		var url_create_item = "{% url 'create_item' %}";
    		var url_update_item = "{% url 'update_item' pk=0 %}";
    		var url_delete_item = "{% url 'delete_item' pk=0 %}";
      	</script>
		<!-- Latest compiled and minified JavaScript -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		{% block scripts%}{% endblock %}
	</body>
</html>