{% extends 'base.html' %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datepicker3.standalone.min.css" />
{% endblock %}

{% block content %}

<div class="container">
	{% include 'parts/messages.html' %}
	<div class="row">
    	<div class="col-md-12">
			<div class="dashboard"ng-app="tracker" >
				<div ng-controller="dashCtrl">
					<!-- <div class="loader_container" ng-class="(ready) ? 'ready' : ''" ><div class="loader" >Loading...</div></div> -->
					<div class="row">
				  		<div class="col-sm-8">

							<div class="row">
						  		<div class="col-sm-2">
									<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#new_due_item">New Item</button>				
								</div>

								<div class="col-sm-6">
									<div class="input-group picker">
										<span class="input-group-addon" ng-click="showDateRangePicker()"><i class="glyphicon glyphicon-calendar"></i></span>
										<input id="reportrange" class="form-control" ng-model="date_range"/>
									</div>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control" name="name" placeholder="Service Name..." ng-model="searchText">
								</div>
							</div>

							<table class="table init-loader" ng-class="(ready) ? 'ready' : ''">
								<thead class="thead-default">
								<tr>
								  <th>Service</th>
								  <th>Due Date</th>
								  <th>Frequency</th>
								  <th class="amount">Cost ($)</th>
								</tr>
								</thead>
								<tbody>
								    <tr ng-repeat="(index, item) in data | filter: {model: 'dashboard.dueitem'} | filter: searchText | date_range_data: date_range as filteredData"  class="{? item.fields.recurrence ?}" ng-click="edit_item(item)">
										<td>{? item.fields.name ?}</td>
										<td>{? dates_display(item) ?}</td>
										<td>{? frequency(item.fields.recurrence) ?}</td>
										<td class="amount">{? item_total(item) | number:2 ?}</td>
								    </tr>
								</tbody>
							</table>
				  		</div>
						<div class="col-sm-4 summary init-loader" ng-class="(ready) ? 'ready' : ''" >
							<label>Total:</label><span class="total">${? data | filter: searchText | date_range_total:date_range | number:2 ?}</span><br>
							<label>Count:</label><span> {? (data  | filter: {model: 'dashboard.dueitem'} | filter: searchText | date_range_data: date_range).length ?}</span>
				      	</div>
				    </div>

				    <div id="new_due_item"  class="modal fade" tabindex="-1" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								{% include 'forms/due_item.html' %}
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
					</div>

				    <div id="edit_due_item"  class="modal fade" tabindex="-1" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="/static/js/bootstrap-datepicker.min.js"></script>
	<script src="/static/js/dashboard.js"></script>
	<script>
		var data = {{data|safe}};
	</script>
{% endblock %}