{% extends 'base.html' %}

{% block content %}
<div class="background">
	<div class="container">
		{% with login_form as form %}
			{% include 'parts/messages.html' %}
		{% endwith %}
		<div class="row">
			<div class="col-md-6">
				<h1>DueTracker</h1>
				<h3>Keep track of your recurring expenses.</h3>
	    	</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Features</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"><span class="flat-icon mail"></span></div>
		<div class="col-md-2">Receive email notifications of upcomming expenses.</div>
		<div class="col-md-2"><span class="flat-icon calendar"></span></div>
		<div class="col-md-2">Filter your expenses by time periods that make sense to you.</div>
		<div class="col-md-2	"><span class="flat-icon device"></span></div>
		<div class="col-md-2">Monitor your expenses wherever you are.</div>
	</div>
</div>
{% endblock content %}