{% if form.errors or messages %}
<div class="row">
	<div class="col-md-12">
		{% if form.errors %}
			{% load filters %}
			<div class="alert message error alert-dismissable" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{ form|login_error }}
			</div>
		{% endif %}
		{% if messages %}
	  		{% for message in messages %}
	  			<div class="alert message {{ message.tags }} alert-dismissable" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{message}}
				</div>
	  		{% endfor %}
		{% endif %}
	</div>
</div>
{% endif %}